header {
    background-color: #666;
    margin: 0 auto;
    width: 1200px;
}

.header_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.header_text {
    background-image: url(../img/banner.png);
}